<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.medical.mapper.reserveMapper">
	<select id="reserveChk" resultType = "int">
		SELECT count(*) FROM p_member WHERE name = #{name} AND grade = 'hospital';
	</select>
	
	<insert id = "insertReserveInfo">
		INSERT INTO hospital_reserve(hospital_id, `date`, `time`) VALUES (#{hospital_id}, #{date}, #{time});
	</insert>
	
	<insert id = "insertGuesetReserve">
		INSERT INTO guest_reserve(guest_id, reserve_id) VALUES (#{guest_id}, #{reserve_id});
	</insert>
	
	<select id="getReserveInfo" resultType = "com.medical.dto.HospitalReserveDto">
		SELECT * FROM hospital_reserve;
	</select>
	
	<select id="getHospitalReserveInfo" resultType = "com.medical.dto.HospitalReserveDto">
		SELECT hospital_reserve_id, hospital_id, `date`, `time` 
		FROM hospital_reserve, p_member 
		WHERE hospital_id = p_member.id and `name` = #{name};
	</select>
	
	<select id = "getReserveDate" resultType="java.lang.String">
		SELECT DISTINCT `date`
		FROM hospital_reserve, p_member 
		WHERE hospital_id = p_member.id AND `name` = #{name}
		ORDER BY `date` ASC;
	</select>
	
	<select id = "getReserveTime" resultType="com.medical.dto.HospitalReserveDto">
		SELECT hospital_reserve_id, `time`
		FROM hospital_reserve, p_member 
		WHERE hospital_id = p_member.id 
		AND `name` = #{name} 
		AND `date`=#{date}
		AND hospital_reserve_id NOT IN (SELECT reserve_id FROM guest_reserve)
		ORDER BY `date` ASC;
	</select>
</mapper>